{{!-- This is the post loop - each post will be output using this markup --}}
<div class="container">
    <div class="row">
        {{#foreach posts}}
            <article class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <header class="panel-heading">
                        <div class="img-wrapper">
                            <img class="img-responsive" src="{{#if image}}{{ image }}{{else}}{{asset
                                    "assets/images/shop.png"}}{{/if}}"/>
                        </div>
                        <header class="post-header">
                            <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
                        </header>
                    </header>
                    <div class="panel-body {{post_class}}">
                        <section class="post-excerpt">
                            <p>
                                {{excerpt characters="32"}}
                                <a class="read-more" href="{{url}}">&raquo;</a></p>
                        </section>
                    </div>
                    <footer class="post-meta panel-footer">
                        <span>&nbsp;</span>
                        {{tags}}
                        <time class="post-date pull-right"
                              datetime="{{date format="YYYY-MM-DD"}}">{{date
                                format="DD MMMM YYYY"}}</time>
                    </footer>
                </div>
            </article>
        {{/foreach}}
    </div>

    {{!-- Previous/next page links - displayed on every page --}}
    {{pagination}}
</div>
