{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
    </nav>
    <div>
        <div class="main-header-content">
            <header class="post-header">
                {{tags}}
                <h1 class="post-title">{{title}}</h1>
                <section class="post-meta">
                    {{#author}}{{name}}{{/author}}
                    <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">
                        {{date format="YYYY/MM/DD"}}
                    </time>
                </section>
            </header>
        </div>
    </div>
</header>

<main class="content" role="main">
    <article id="jiathis_main" class="{{post_class}}">
        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

        {{!-- Everything inside the #author tags pulls data from the author --}}
        {{#author}}

            <section class="author text-center">
                {{#if image}}
                    <figure class="author-image">
                        <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
                    </figure>
                {{/if}}

                <h4><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p class="text-muted">{{bio}}</p>
                {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<p class="author-location icon-location">{{location}}</p>{{/if}}
                    {{#if website}}<p class="author-link icon-link"><a href="{{website}}">{{website}}</a></p>{{/if}}
                </div>
            </section>

        {{/author}}


            {{!-- Email subscribe form at the bottom of the page --}}
            {{#if @labs.subscribers}}
            <section class="gh-subscribe">
                <h3 class="gh-subscribe-title">Subscribe to {{@blog.title}}</h3>
                <p>Get the latest posts delivered right to your inbox.</p>
                {{subscribe_form placeholder="Your email address"}}
                <span class="gh-subscribe-rss">or subscribe <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/">via RSS</a> with Feedly!</span>
            </section>
            {{/if}}

        </footer>

    </article>
</main>

{{!-- Links to Previous/Next posts --}}
<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt characters="32"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt characters="32"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}

<!-- JiaThis Button BEGIN -->
<div class="jiathis_share_slide jiathis_share_24x24" id="jiathis_share_slide">
    <div class="jiathis_share_slide_top" id="jiathis_share_title"></div>
    <div class="jiathis_share_slide_inner">
        <div class="jiathis_style_24x24">
            <a class="jiathis_button_weixin"></a>
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_googleplus"></a>
            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis"
               target="_blank"></a>
            <script type="text/javascript">
                var jiathis_config = {
                    data_track_clickback: 'true'
                    , slide: {
                        divid: 'jiathis_main',
                        pos: 'right',
                        gt: 'true',
                        bordercolor: 'transparent'
                    }
                };
            </script>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2109927"
                    charset="utf-8"></script>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_slide.js"
                    charset="utf-8"></script>
            <style>
                .jiathis_slide_right {
                    opacity: 0.2;
                    transition: all 100ms linear;
                }

                .jiathis_slide_right:hover {
                    opacity: 1;
                }
            </style>
        </div>
    </div>
</div>
<!-- JiaThis Button END -->
